<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<style>
.navbar-nav .nav-link {
	font-size: 1.2rem;
}
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Tramos disponibles</h2>
    </div>
  </div>
  <div th:if="${#lists.isEmpty(tramos)}" class="row">
    <div class="col-12">
      <p>No hay horas disponibles</p>
    </div>
  </div>
  <div class="row">
    <div th:each="tramo, iterStat : ${tramos}" class="col-6 col-md-3 mb-1">
      <form th:action="@{/usuario/creaCitaMedico}" method="post">
        <input type="hidden" name="tramoSeleccionado" th:value="${tramo.tiempo}" />
        <input type="hidden" name="diaSeleccionado" th:value="${diaSeleccionado}" />
        <button type="submit" class="btn btn-primary" th:text="${tramo.tiempo}"></button>
      </form>
    </div>
  </div>
</div>





</body>
</html>
