<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Inicio</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<style>
.navbar-nav .nav-link {
	font-size: 1.2rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="">ClickHealth</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
					style="-bs-scroll-height: 100px;">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/admin/inicioAdmin">Inicio</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/admin/resuelveSolicitud">Solicitudes</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link active dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Registrar </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/registroUsuario">Usuario</a></li>
							<li><a class="dropdown-item" href="/admin/registroEnfermero">Enfermero</a></li>
							<li><a class="dropdown-item" href="/admin/registroMedico">Medico</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link active dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Dar de baja </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/borraUsuario">Usuario</a></li>
							<li><a class="dropdown-item" href="/admin/borraEnfermero">Enfermero</a></li>
							<li><a class="dropdown-item" href="/admin/borraMedico">Medico</a></li>
						</ul></li>
											<li class="nav-item dropdown"><a
						class="nav-link active dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Actualizar </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/actualizaBuscadorUsuario">Usuario</a></li>
							<li><a class="dropdown-item" href="/admin/actualizaBuscadorEnfermero">Enfermero</a></li>
							<li><a class="dropdown-item" href="/admin/actualizaBuscadorMedico">Medico</a></li>
						</ul></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active" href="/logout">Salir
							<i class="bi bi-box-arrow-right"></i>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	

<div class="container pt-3">

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://i.imgur.com/HbzqxzL.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Registro y actualizado</h2>
            <p>Como administrador, tienes el poder de dar forma a nuestro equipo de atención médica. Puedes registrar nuevos usuarios, enfermeros y médicos, asegurándote de que nuestro centro cuente con los profesionales adecuados para brindar un cuidado de calidad. Además, tienes la capacidad de actualizar los datos de cada usuario, enfermero y médico, asegurando que siempre tengamos la información más actualizada y precisa.</p>
            <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://i.imgur.com/vGKrm2h.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Dada de baja</h2>
            <p>Como administrador, te ofrecemos múltiples opciones para gestionar las bajas de usuarios, médicos y enfermeros de manera eficiente y conveniente. Puedes optar por utilizar un formulario específico o con un buscador que te permite localizar rápidamente los perfiles de los usuarios, médicos o enfermeros que deseas dar de baja, ahorrándote tiempo y esfuerzo.</p>
            <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://i.imgur.com/0zGNElG.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Solicitudes</h2>
            <p>Como administrador, te ofrecemos un sistema completo de gestión de solicitudes que te permite manejar eficientemente las solicitudes de cambio de médico, cambio de enfermero o baja por parte de los usuarios. Reconocemos la importancia de brindar un servicio personalizado y satisfactorio a nuestros usuarios, por lo que hemos implementado funcionalidades específicas para atender estas solicitudes.</p>
            <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Medicos: <span class="text-muted">Comprometidos con el bienestar y cuidado integral de los pacientes.</span></h2>
            <p class="lead">En nuestro centro de atención primaria, brindamos a nuestros médicos las herramientas necesarias para registrar y gestionar observaciones importantes durante las citas con los pacientes. Reconocemos la importancia de recopilar y mantener información detallada sobre la salud de cada paciente, y es por eso que hemos implementado un sistema eficiente para que los médicos puedan documentar y actualizar estas observaciones de manera segura y confiable En caso de que sea necesario registrar, actualizar datos o dar de baja a un médico, nuestro sistema también ofrece la posibilidad de realizar esta gestión de manera sencilla y rápida.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://media.gettyimages.com/id/1421939464/es/foto/doctora-emp%C3%A1tica-escucha-a-ni%C3%B1o-irreconocible.jpg?s=612x612&w=0&k=20&c=kRVzzHh4yxYDYJjirVopNyqrJoDQuCyrj9-csxbFw6I=" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Enfermeros: <span class="text-muted">Cuidando la salud de los pacientes con dedicación y experiencia.</span></h2>
            <p class="lead">En nuestro centro de atención primaria, valoramos el papel fundamental que desempeñan nuestros enfermeros en la atención y cuidado de los pacientes. Reconociendo su valor y su contribución esencial al equipo de salud, hemos implementado un sistema que les permite gestionar vacunas y registrar alergias de manera eficiente y precisa. 
                              En caso de que sea necesario registrar, actualizar datos o dar de baja a un enfermero, nuestro sistema también ofrece la posibilidad de realizar esta gestión de manera sencilla y rápida.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://www.camoc.com.uy/wp-content/uploads/2021/05/enfermeros-2-862x575-1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Usuarios: <span class="text-muted">Su bienestar, nuestra prioridad absoluta.</span></h2>
            <p class="lead">En nuestra plataforma, nos enorgullece ofrecer a nuestros usuarios un enfoque personalizado y completo para su cuidado de salud. Cada usuario contará con un equipo dedicado compuesto por un enfermero y un médico asignados, quienes estarán disponibles para brindarles atención continua y de calidad. Como proveedores de atención médica comprometidos, entendemos que en algunos casos puede ser necesario realizar cambios en la asignación de usuarios o incluso dar de baja a un usuario. Nuestro sistema cuenta con funcionalidades que permiten a los administradores gestionar estos cambios de manera eficiente y garantizar una atención continua y de calidad para todos nuestros usuarios.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://www.bayer.com/sites/default/files/styles/1_91_1_aspect_ratio/public/2021-01/58.jpg?h=2f83cd36&itok=5QDUCdnv" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

 
 </div>
	
<footer class="bg-primary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-facebook"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-linkedin"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/jose200112/ProyectoClickHealth" role="button"
        ><i class="bi bi-github"></i></a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
Clickhealth: Tu salud en buenas manos, cuidamos de ti con experiencia y dedicación.
      </p>
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">ClickHealth</a>
  </div>
</footer>	

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>
</html>