<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pedir cita</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
		<style>
.navbar-nav .nav-link {
	font-size: 1.2rem;
}
</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="">ClickHealth</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
					style="-bs-scroll-height: 100px;">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/inicioUsuario">Inicio</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/vacunas">Mis vacunas</a></li>
											<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/alergias">Mis alergias</a></li>
																	<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/observaciones">Observaciones</a></li>
											<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/citasUsuario">Mis citas</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link active dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Pedir cita </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/usuario/reservaCitaEnfermero">Enfermero</a></li>
							<li><a class="dropdown-item" href="/usuario/reservaCitaMedico">Medico</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/nuevaSolicitud">Crear solicitud</a></li>
											<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/solicitudes">Mis solicitudes</a></li>
						<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/usuario/registro">Mi registro</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active" href="/logout" title="Salir">Salir
							<i class="bi bi-box-arrow-right"></i>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container mt-2">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Ya tienes una cita.</div>
            </div>
            
            						<div class="position-absolute start-50 translate-middle">

						<th:block th:if="${not #strings.isEmpty(error)}">
							<div class="toast align-items-center text-bg-danger border-0"
								auto-hide="false" role="alert" aria-live="assertive"
								aria-atomic="true">
								<div class="d-flex">
									<div th:text="${error}" class="toast-body"></div>
									<button type="button"
										class="btn-close btn-close-white me-2 m-auto"
										data-bs-dismiss="toast" aria-label="Close"></button>

								</div>
							</div>
						</th:block>
					</div>

<div class="table-responsive"> 
	<table class="table table-lg">
		<thead>
		<tr>
		<th colspan="7" class="text-center text-white bg-primary" style="background-color: #0d6efd;" th:text="${mesActual}"></th>
		</tr>
			<tr>
				<th class="border text-white bg-primary">Lunes</th>
				<th class="border text-white bg-primary">Martes</th>
				<th class="border text-white bg-primary">Miercoles</th>
				<th class="border text-white bg-primary">Jueves</th>
				<th class="border text-white bg-primary">Viernes</th>
				<th class="border text-white bg-primary">Sabado</th>
				<th class="border text-white bg-primary">Domingo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="columna: ${columna}">
				<td th:if="${columna.numUno > diaActual}"><a
					th:text="${columna.numUno != 0} ? ${columna.numUno}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numUno})}"></a>
				</td>
				<td th:unless="${columna.numUno > diaActual}"
					th:text="${columna.numUno != 0} ? ${columna.numUno}"></td>
					
					
				<td th:if="${columna.numDos > diaActual}"><a
					th:text="${columna.numDos != 0} ? ${columna.numDos}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numDos})}"></a>
				</td>
				<td th:unless="${columna.numDos > diaActual}"
					th:text="${columna.numDos != 0} ? ${columna.numDos}"></td>
					
					
				<td th:if="${columna.numTres > diaActual}"><a
					th:text="${columna.numTres != 0} ? ${columna.numTres}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numTres})}"></a>
				</td>
				<td th:unless="${columna.numTres > diaActual}"
					th:text="${columna.numTres != 0} ? ${columna.numTres}"></td>
					
					
				<td th:if="${columna.numCuatro > diaActual}"><a
					th:text="${columna.numCuatro != 0} ? ${columna.numCuatro}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numCuatro})}"></a>
				</td>
				<td th:unless="${columna.numCuatro > diaActual}"
					th:text="${columna.numCuatro != 0} ? ${columna.numCuatro}"></td>
					
					
				<td th:if="${columna.numCinco > diaActual}"><a
					th:text="${columna.numCinco != 0} ? ${columna.numCinco}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numCinco})}"></a>
				</td>
				<td th:unless="${columna.numCinco > diaActual}"
					th:text="${columna.numCinco != 0} ? ${columna.numCinco}"></td>
					
					
				<td th:if="${columna.numSeis > diaActual}"><a
					th:text="${columna.numSeis != 0} ? ${columna.numSeis}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numSeis})}"></a>
				</td>
				<td th:unless="${columna.numSeis > diaActual}"
					th:text="${columna.numSeis != 0} ? ${columna.numSeis}"></td>
					
					
				<td th:if="${columna.numSiete > diaActual}"><a
					th:text="${columna.numSiete != 0} ? ${columna.numSiete}" th:href="@{/usuario/horasDisponiblesEnfermero(dia=${columna.numSiete})}"></a>
				</td>
				<td th:unless="${columna.numSiete > diaActual}"
					th:text="${columna.numSiete != 0} ? ${columna.numSiete}"></td>

			</tr>
		</tbody>
	</table>
</div>
</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.js"
		integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
		crossorigin="anonymous"></script>

	<script>
		$(document).ready(function() {
			$('.toast').toast('show');
		});
	</script>
</body>
</html>
